body nav {
    font-family: 'Average Sans', sans-serif;
}

.aboutme,
.portfolio,
.contact {
    font-size: 35px;
    font-family: 'Average Sans', sans-serif;
    display: block;
    text-align: center;
}

section{
    display:flex
}

.box1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer{
    font-family: 'Average Sans', sans-serif;
}

.circleimg{
    border-radius: 50%;
    width:100%
}

.contact-form{
    margin: auto;
    max-width:800px;
    font-family: 'Average Sans', sans-serif;
}

.contact-form h1{
    font-family: 'Average Sans', sans-serif;
    text-align: center;
    margin: auto;
}

.button{
    margin-left: 16px
}

.copyright {
    clear:both;
    padding-top: 30px;
    left:0;
    text-align: center;
    position: fixed;
    bottom:0;
    width:100%;
    font-family: 'Average Sans', sans-serif;
    padding:30px;
    font-weight:bold;
}

.card{
    margin:auto;
    height:375px;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 300px) { 

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    
}